services:
  api:
    build: .
    container_name: VeriTrust-Backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "3000:3000"
    volumes:
      - db-data:/app/src/db

volumes:
  db-data:
